/*UG_program TABLE*/
.table-border{
vertical-align: middle;
 padding: 0pt 5.75pt 0pt 5.75pt;
  border: solid #000000 0.5pt;
}
.table-data{
font-size: 9pt;
font-family: Calibri; 
}
.table-data2{
font-size: 9pt; 
font-family: Calibri; 
text-align: center!important;
}
.table-total{
font-size: 9pt; 
font-family: Calibri; 
color: #ff0000; 
}
.table-courses{
  vertical-align: bottom; 
  padding: 0pt 5.75pt 0pt 5.75pt; 
  border: solid #000000 0.5pt;
}
