.bg-blue-layer {
background-color: #0d4ac2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='65' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230b3fa5' fill-opacity='0.91'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.91'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-dots{
    background-color: #062259;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='57' viewBox='0 0 90 90'%3E%3Ccircle fill='%23ffffff' cx='45' cy='45' r='8'/%3E%3Cg fill='%238ffff9' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='6'/%3E%3Ccircle cx='90' cy='90' r='6'/%3E%3Ccircle cx='90' cy='0' r='6'/%3E%3Ccircle cx='0' cy='0' r='6'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-black{
    background-color: black;
}


@media screen and (max-width: 767px) {
    .bg-jecrc {
        background: #062259;
    }
}
/* Image Carousel */

.homeBanner .imageCarousel img {
    width: 100vw;
    height: auto;
    box-shadow: 2px 2px 2px #00000087;
    border: 2px solid black;
}

@media screen and (min-width: 992px) {
    .homeBanner .imageCarousel img {
        width: 80vw;
    }
}

.homeBanner {
    padding: 0;
}

/* ------------------- */

/* News and Events  */

.marqueContainer {
    background: #4e4e4e;
    color: white;
    vertical-align: middle;
    font-size: 20px;
    font-family: "courier";
    padding: 2px 2px 0px 2px;
}

.newsBox {
    height: 500px;
    overflow: hidden;
}
.msgBox {
    height: 500px;
}

/* JECRC Advantage */

.advHeading {
    font-size: 50px;
    font-family: "times new roman";
    font-weight: 800;
    color: #062259;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.advContainer {
    min-height: 100px !important;
    padding-top: 30px;
    font-size: 30px;
    font-family: "times";
    font-weight: 800;
    color: #062259;
    border-radius: 25px;
    box-shadow: 2px 2px 2px black;
}

/*Image Gallery*/
.gallery {
    height: auto;
}

.gallery-img{
    width: 20%;
    height: auto;        
    border-radius: 5px;
}

.gallery-cont{
    overflow: hidden;
}
/*------------------------------------*/
@media screen and (max-width: 575px) {
    .advHeading {
        font-size: 30px;
    }
}


/*JECRC Pride */
.pride-img{
    width: 300px;
    height: auto;
    transform: scale(0.9);
}

.pride-img:hover {
    transform: scale(1);
    transition: all 0.4s ease-in;
}