/*GENERAL ALIGNMENT FOR SECTION*/

.section {
  padding: 1%;
  box-shadow: 2px 2px 5px grey;
  margin-top: 3%;
  margin-bottom: 3%;
}

.sectionHeading {
  text-align: center;
  background-color: #05173a;
  width: 100%;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  font-family: 'times new roman';
  font-size: 20px;
}

.sectionSubHeading {
  color: #0e08ee;
}

.sectionContent {
  font-family: 'georgia';
  font-size: 20px;
  padding: 1%;
}

.sectionList {
  margin-left: 3%;
}

.section p {
  text-align: justify;
}
/*UG_program TABLE*/
.table-border {
  vertical-align: middle;
  padding: 0pt 5.75pt 0pt 5.75pt;
  border: solid #000000 0.5pt;
}
.table-data {
  font-size: 9pt;
  font-family: Calibri;
}
.table-data2 {
  font-size: 9pt;
  font-family: Calibri;
  text-align: center !important;
}
.table-total {
  font-size: 9pt;
  font-family: Calibri;
  color: #ff0000;
}
.table-courses {
  vertical-align: bottom;
  padding: 0pt 5.75pt 0pt 5.75pt;
  border: solid #000000 0.5pt;
}
/*Faculty image*/

.faculty-img {
  width: 100px;
  height: auto;
}
/*-------------------------*/

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #000;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.4em;
}

.buddy {
  width: 100vw;
}

.topper {
  height: auto !important;
}

.topic {
  font-size: 30px;
  background-color: aliceblue;
  padding-left: 10px;
  text-align: center;
}

.subject-list {
  cursor: pointer;
}

.notes-btn {
  padding: 5px;
  background-color: #05173a;
  color: white;
}

.notes-div {
  display: flex;
  justify-content: center;
  height: 31vh;
}

.lab-videos {
  height: 300px;
  margin: 5px;
}

.lab-note {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  margin-top: 25px;
}
